.highlight {
    border: 1px solid;
    border-color: #ddd #ddd #ccc;
    border-radius: 6px;
    overflow: hidden;
}

.highlight > div {
    box-shadow: none;
}

.highlight table {
    box-shadow: none;
}

.highlight table tr:hover,
.highlight table tr:nth-child(odd) td {
    background: #ffffff;
    box-shadow: none;
}
